<CENTER><H1>School Band Database</H1></CENTER>
Welcome to the School Band Database, by Mike J. Volz (April 2021).
<BR><BR>
Site is running:
<UL>
<LI>NodeJS v14.16.1
<LI>cpsrvd 11.94.0.3
<LI>Database client version: libmysql - 5.6.43
<LI>PHP version: 7.3.26
</UL>
<BR><BR>

<H2>Main Navigation:</H2>
<B><a href="/test_site2/bands">Bands List</A></B><BR>
<B><a href="/test_site2/students">Students List</A></B><BR>
<B><a href="/test_site2/instruments">School Instruments List</A></B><BR>
<B><a href="/test_site2/music">Music List</A></B><BR>
<B><a href="/test_site2/student-music">Student Music Assignments</A></B><BR>
<BR><BR><BR><BR>
