<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>WSRP - Admin Dashboard</title>
        <link rel="stylesheet" href="stylesheets/style.css">
        <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
        <script src="javascripts/bootstrap.bundle.min.js"></script>
        <script src="javascripts/jquery-3.6.0.min.js"></script>
        <script src="javascripts/script.js"></script>
        <link rel="icon" type="image/x-icon" href="icon/favicon.ico"/>
    </head>
    <body>
        <div class="container">
            <div class="row justify-content-center">
                <h1>Admin Dashboard</h1>
            </div>
            <div class="row justify-content-center">
                <div class="col-12 col-md-10 col-lg-8">
                    <form class="card card-sm" action="/users" method="GET">
                        <div class="card-body row no-gutters align-items-center justify-content-center">
                            <div class="col-auto">
                                <i class="fas fa-search h4 text-body"></i>
                            </div>
                            <div class="col-auto">
                                <button class="btn btn-lg btn-success" type="submit">List All Users</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Footer -->
        <footer class="page-footer font-small blue" id="footer-admin">
          <div class="footer-copyright text-center py-1">Website Security Research Project - CS467 Spring 2021
          </div>
        </footer>

    </body>
</html>